@import './tailwind.css';
@import './blog.css';
@import './prose.css';
@import './editor.css';

[data-overlay-container='true'] {
  height: 100%;
  width: 100%;
}

* {
  font-family: '微软雅黑';
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
  background-color: grey;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  border-radius: 16px 16px 0 0 !important;
  animation: none !important;
}
