@import 'tailwindcss';

@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  /* 自定义断点 (screens) */
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 24rem;
  --breakpoint-md: 28rem;
  --breakpoint-lg: 32rem;
  --breakpoint-xl: 36rem;
  --breakpoint-2xl: 42rem;
  --breakpoint-3xl: 48rem;
  --breakpoint-4xl: 56rem;
  --breakpoint-5xl: 64rem;
  --breakpoint-6xl: 72rem;
  --breakpoint-7xl: 80rem;

  /* 自定义主色调 */
  --color-primary: rgb(14 165 233);
}

/* 扩展 container 类支持 2K 屏幕 */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
  max-width: 1280px !important;

  @media (min-width: 1280px) {
    max-width: 1400px !important;
  }

  @media (min-width: 1536px) {
    max-width: 1600px !important;
  }

  @media (min-width: 1800px) {
    max-width: 1760px !important;
  }

  @media (min-width: 2000px) {
    max-width: 1920px !important;
  }
}
